* {
  box-sizing: border-box;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 10px;
  background: #f7f7f7;
  font-size: 16px;
}
.title {
  font-size: large;
  font-weight: 700;
}

.content-head {
  background: #f7f7f7;
  display: flex;
  gap: 4rem;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  height: 2rem;
}

.date {
  margin-top: 0rem;
  width: 30%;
  padding: 4px;
  font-size: 16px;
  border: none;
}
.fornecedor {
  background: #f1efef;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
table {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  margin-top: 8px;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 10px 6px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
}

th {
  background: #eee;
  position: sticky;
  top: 0;
  z-index: 2;
}
input[type="number"] {
  width: 3.5rem;
  padding: 6px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.qtd-input,
.qtd-input2 {
  appearance: none;
  -moz-appearance: textfield;
}

.qtd-input::-webkit-inner-spin-button,
.qtd-input::-webkit-outer-spin-button,
.qtd-input2::-webkit-inner-spin-button,
.qtd-input2::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

tr.recebido {
  background-color: #8bf08b;
}

.status {
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.status.pendente {
  background: #ee5f6b;
  color: #721c24;
}

.status.ok {
  background: #d4edda;
  color: #04b631;
}

@media (min-width: 768px) {
  body {
    padding: 15px;
  }

  .content-head {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .date {
    width: auto;
  }

  th,
  td {
    font-size: 14px;
  }
}

/* @media (min-width: 1024px) {
  .fornecedor {
    padding: 15px;
  }

  table {
    display: table;
    overflow: visible;
    white-space: normal;
  }

  input[type="number"] {
    width: 80px;
  }
} */

.footer {
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: #f2ecec;
  background: #232121;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .footer {
    font-size: 13px;
  }
}